fastapi==0.95.2
uvicorn==0.22.0
aiohttp==3.12.13
python-socketio==5.8.0
langchain-core==0.1.0
slack-sdk==3.33.3
google-api-python-client==2.166.0
google-auth==2.31.0
google-auth-oauthlib==1.2.1
python-socketio==5.8.0
cryptography==45.0.6

langchain_community==0.3.27
langchain_mcp_adapters==0.1.9
langgraph==0.5.3
langchain_openai==0.3.28
langchain_pinecone==0.2.9
langchain-anthropic==0.3.13
langchain-aws==0.2.23
langchain-mistralai==0.2.10
langchain-together==0.3.0
langchain-cohere==0.4.4
cohere==5.15.0
langchain-google-genai==2.0.10
langchain-groq
langchain_ai21==1.2.0
langchain-fireworks==0.3.0
langchain-huggingface==0.2.0
langchain_nvidia_ai_endpoints==0.3.13
langchain_nomic==0.1.4
langchain-deepseek==0.1.4
langchain-xai==0.2.5
langchain-cerebras==0.5.0
langchain_ollama==0.3.6
langchain_ibm==0.3.15
unstructured==0.18.11
python-docx==1.1.2
networkx==3.5
msoffcrypto-tool==5.4.24
python-pptx==1.0.2